
body {
    background: url("images/triangular.png") repeat !important;
    margin: 0 !important;
}

.basisPanel {
    width: 100%;
}

.beitragsPanel {
    border: 1px solid #A0A0A0;
    margin-left: 10px;
    padding: 20px;
    width: 599px;
}

.beitragsPanel .section_pinnwand{
	background: none repeat scroll 0 0 #FFFFFF;
    margin-top: -34px;
    padding: 5px;
    width: 57px;
}

.beitragsPanel .gwt-Button.neuerBeitrag {
    float: right;
}

#body_smp {
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.head_text{
	color: #32849B;
	text-transform: uppercase;
	font-size: 14px;
}

#header{
	width: 100%;
	position: fixed;
	background: #32849b;
	top: 0;
	height: 75px;
}

#wrapper {
	background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px #606060;
    margin: 85px auto auto;
    width: 1000px;
    opacity: 1.0 !important; 
}

.logo {
    margin: 11px auto auto;
    width: 1000px;
}

.logo .hdm{
	float: right;
    margin-top: 13px;
}

.menue {
    margin-left: 380px;
    margin-top: -83px;
    position: fixed;
    width: 310px;
}

.menue td .gwt-Button{
	background: none;
	border: none;
	color: #fff;
	text-transform: uppercase;
}

.menue td .gwt-Button:hover{
	background: #fff;
	color: #32849B;
}

.verwaltungsPanel {
    border: 1px solid #A0A0A0;
    padding: 20px;
    width: 350px;
}

.verwaltungsPanel .section_abonnenten {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: -34px;
    padding: 5px;
    width: 67px;
}

.verwaltungsPanel .gwt-Button, .beitragsPanel .gwt-Button.neuerBeitrag {
    background: #32849B;
    color: #FFFFFF;
    border: none;
    padding: 1px 5px;
}

.verwaltungsPanel .gwt-TextBox {
    margin-left: 20px;
    padding: 2px 0;
    width: 150px;
    color: #aaa;
}

#footer {
    background: url("images/triangular_blue.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
    padding: 10px 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: blue;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-Button:active {
    border: none !important;
}

.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
